 <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        (click)="centered.toggle()"
        aria-controls="navbarCenteredExample"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>  
      </button>
  
      <!-- Collapsible wrapper -->
      <div
        class="collapse navbar-collapse justify-content-center"
        id="navbarCenteredExample"
        mdbCollapse
        #centered="mdbCollapse"
      >
     
        <!-- Left links -->
        <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page"  [routerLink]="['/']" routerLinkActive="router-link-active" >Home</a>
              </li>
              <li class="nav-item">
               
                <a class="nav-link" [routerLink]="['/about-us']" routerLinkActive="router-link-active" >About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  [routerLink]="['/products-and-services']" routerLinkActive="router-link-active" >Products And Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  [routerLink]="['/social-impact']" routerLinkActive="router-link-active" >Social Impact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  [routerLink]="['/news-and-publications']" routerLinkActive="router-link-active" >News and Publications</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  [routerLink]="['/blog-posts']" routerLinkActive="router-link-active" >Blog Posts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  [routerLink]="['/contact-us']" routerLinkActive="router-link-active" >Contact Us</a>
              </li>
        </ul>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
