.nav-item{
    padding: 10px !important;
}

.title{
    font-weight: 600;
}

nav{
    background: white!important;
}

.nav-link , i{
    color: rgb(0, 0, 0) !important;
    font-size: larger;
}
.nav-link:hover{
    color: #16B5EA!important;
    font-weight: 500;
}

@media screen and (max-width: 990px) {
    nav {
        background: rgba(0, 0, 0, 0.12) !important;
    }

    a{
        text-align: center;
        font-weight: 600;
    }

    .nav-item{
        border-bottom: 1px solid
    }

    .navbar-toggler{
        margin-left: 90%;
    }
  }


