.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }



mat-expansion-panel{
    border: 1px solid transparent;
    background-color: rgb(237, 254, 255) !important;
    margin-bottom: 7.5px;
    border-radius: 5px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

mat-expansion-panel-header{
    padding: 16px;
}
 li{ 
    text-align: justify;
    color: rgb(101, 101, 101);
    line-height: 1.8 !important;
    margin: 0 0 15px 0;
}

h4{
    margin-bottom: 20px;
}

h5{
    text-align: justify;
    color: rgb(101, 101, 101);
    text-transform:capitalize;
    font-weight: 450;
}

ul{
    list-style-position: outside;
}

.content{
    padding: 16px;
}


