.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }



mat-expansion-panel{
    border: 1px solid transparent;
    padding: 7px 10px;
    background: rgba(0, 0, 0, 0.5) !important;
    color: white;
    margin-bottom: 5px;
    border-radius: 5px;
    width: 100%;
}

li{ 
    text-align: justify;
    color: #ffd9d9;
    line-height: 1.8 !important;
    margin: 0 0 15px 0;
}

h4{
    margin-bottom: 20px;
}

h5{
    text-align: justify;
    color: #fff;
    text-transform:capitalize;
}

ul{
    list-style-position: outside;
}

