<div class="content-card card">
    <div class="card-body">
        <h4>News And Publications</h4>
        <div class="content-body">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Boosting Fish Production through Aquaculture Business Development Programme
                    </div> <em>Friday, 02 April 2021</em>
                </div>
                <div class="card-body">
                    <p>
                        Kisumu County fish farmers are set to receive a major boost in fish production after the
                        official launch of the Aquaculture Business Development Programme (ABDP) today at Apondo village
                        in Ahero Ward.

                        The ABDP is an eight year programme, to be implemented in 15 counties of which Kisumu is part,
                        funded to a tune of 14.9 Billion by IFAD.

                        The programme was mooted with the aim of reducing poverty, increasing food security and
                        nutrition in the rural communities.

                        With its two components of smallholder aquaculture development...
                    </p>
                    <div>
                        <a href="https://www.kisumu.go.ke/boosting-fish-production-through-aquaculture-business-development-programme/"
                            class="btn btn-primary" target="_blank">See More</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>