.page-content{
    padding:26px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;  
  }

  app-footer{
      position: fixed !important;
      bottom: 0;
      width: 100%;
  }

