.homepage {
  background: url("../../../assets/images/fish-removebg-preview.png") no-repeat
    center center fixed !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}


.social-media-btns a{
  padding: 5px;
  margin: 5px;
}

.social-media-btns{
  margin: 10px;
}

.learn-more-btn{
  margin: 5px;
  padding: 10px 25px;
}

.home-text{
  margin: 0 10px 130px 10px;
}