<div class="card">
    <div class="card-body" fxLayout="column" fxLayoutAlign="center center">
        <h1>Apondo Fish Farms</h1>
        <p>Fish farming at its best. Apondo fish farms concentrate on the modern solutions for aquaculture. The fish
            farm ensures that all customers are satisfied with large tasy fish.</p>
        <button type="button" class="btn btn-info btn-rounded learn-more-btn" [routerLink]="['/about-us']"
            routerLinkActive="router-link-active">Learn More</button>

        <div class="social-media-btns" fxLayout="row wrap" fxLayoutAlign="center center">
            <!-- Facebook -->
            <a style="color: #3b5998;" href="#!" role="button"><i class="fab fa-facebook-f fa-lg"></i></a>

            <!-- Twitter -->
            <a style="color: #55acee;" href="#!" role="button"><i class="fab fa-twitter fa-lg"></i></a>

            <!-- WhatsApp -->
            <a style="color: #25D366;" href="#!" role="button"><i class="fab fa-whatsapp"></i></a>

            <!-- Google -->
            <a style="color: #dd4b39;" href="#!" role="button"><i class="fab fa-google fa-lg"></i></a>

            <!-- Instagram -->
            <a style="color: #ac2bac;" href="#!" role="button"><i class="fab fa-instagram fa-lg"></i></a>
        </div>
    </div>
</div>