.social-media-btns > a {
  margin: 5px !important;
  font-size: 16px;
  background-color: white;
  padding: 8px;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}


.names, .contact-email, .contact-msg, .btn{
  margin-bottom: 10px;
}


input, textarea{
  border-radius: 4px;
  border: 0.1px solid rgb(222, 222, 222);
  background-color: rgb(213, 253, 255);
  padding: 5px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
}

.contact-details{
  font-size: 12px;
}
 p{
   margin: 5px 0px;
   font-size: 16px;
   color: black;
 }

 .card{
  text-align: center;
}

h4{
  text-align: center;
  color: black;
  font-weight: 450;
  letter-spacing: 2px;
}
