.social-media-btns > a {
  margin: 10px !important;
  font-size: 16px;
}

.names, .contact-email, .contact-msg, .btn{
  margin-bottom: 10px;
}


input, textarea{
  border-radius: 4px;
  border: none;
  background-color: rgb(237, 254, 255);
  padding: 5px;
}

.contact-details{
  font-size: 12px;
}
 p{
   margin: 5px 0px;
 }

