<div class="content card">
    <div class="card-body">
        <h4> Reach us Today</h4>
        <div class="contact-details">
            <p>Telephone: (+254)745711152</p>
            <p> P. O. Box 19243 – 40100, Kisumu </p>
        </div>


        <form class="form contact-form" fxLayout="column wrap">
            <div class="names" fxLayout="row wrap" fxLayoutAlign="space-between center">
                <input fxFlex="49.5" type="text" placeholder="First Name" />
                <input fxFlex="49.5" type="text" placeholder="Last Name" />
            </div>

            <input class="contact-email" type="email" placeholder="Your Email" />
            <textarea class="contact-msg" placeholder="Your Message"></textarea>

            <button type="submit" class="btn btn-primary">Send Message</button>
        </form>


        <div class="social-media-btns">
            <!-- Facebook -->
            <a style="color: #3b5998;" href="#!" role="button"><i class="fab fa-facebook-f fa-lg"></i></a>

            <!-- Twitter -->
            <a style="color: #55acee;" href="#!" role="button"><i class="fab fa-twitter fa-lg"></i></a>

            <!-- WhatsApp -->
            <a style="color: #25D366;" href="#!" role="button"><i class="fab fa-whatsapp"></i></a>

            <!-- Google -->
            <a style="color: #dd4b39;" href="#!" role="button"><i class="fab fa-google fa-lg"></i></a>

            <!-- Instagram -->
            <a style="color: #ac2bac;" href="#!" role="button"><i class="fab fa-instagram fa-lg"></i></a>
        </div>



    </div>
</div>