li{
    text-align: justify;
    line-height: 1.5 !important;
    font-size: 14px;
    color: black;
    
}


.content-body > ul{
    list-style-position: outside;
}


h4{
    text-align: center;
    font-weight: 450;
    letter-spacing: 2px;
}