<div class="card">
    <div class="card-body">
        <h4>About Us</h4>
        <div class="content-body">
            <ul>
                <li>
                    We are government authenticated tilapia and catfish fish fingerlings producers. Apondo Fish Farm was
                    started in April 2017 and is dedicated to finding cutting-edge solutions and providing great
                    services.
                    Our products and services are designed to satisfy all of our customers, anytime, anywhere.
                </li>
                <br>
                <li>
                    We are committed to customer satisfaction as our top priority.
                    We are located in Kisumu County, Nyando sub county, 4 Km from Ahero town; near Kochogo High School
                    on Ahero – Ombaka road.
                </li>

            </ul>

        </div>
    </div>
</div>