/* You can add global styles to this file, and also import other style files */
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

@import "~mdb-angular-ui-kit/assets/scss/mdb.scss";

.content-card{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  width: 60%;
}

.content-body {
  background-color: rgb(237, 254, 255);
  padding: 16px 26px 16px 16px;
  color: rgb(101, 101, 101);
  border-radius: 4px;
  font-weight: 450;
  font-size: 13.28px;
  width: 100%;
}

.content > div {
  color: #ffffff;
}

h4 {
  margin-bottom: 20px;
}

i {
  font-size: 22px !important;
}

@media screen and (max-width: 990px){
    .content-card{
        width: 95%;
    }

}



html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

