.content > div {
    color: #ffffff;

}

.content{
    background: rgba(0, 0, 0, 0.5) !important;
    line-height: 2.2;
    letter-spacing: 2px;
}

h4{
    margin-bottom: 20px;
    text-decoration: underline;
}

li{
    text-align: justify;
}