<div class="card">
    <div class="card-body">
        <h4>Social Impact</h4>
        <div class="content-body">
            <p>
                AFF is a community-driven company and we look to impact the people around us by filling certain gaps:
            </p>
            <ul>
                <li>Offer student attachment and internship to university students and graduates.</li> 
                <li>Build higher levels of community understanding of the  projects through seminars and encouraging farm visits and offer free advice and subsidized prices for our products to local fish farmers.
                </li>
                <li>Seek to create employment. The farm has four permanent employees with casuals being employed occasionally when there is need. Additionally, a number of youths have been trained on fish husbandry, especially pond construction, and have been contracted by a number of fish farmers in the region.
                </li>
                <li>
                    The number of women involved with AFF, and indeed fish farming in the area, has been worryingly low. However, a number have been involved as farmers while the farm has also on a number of occasions hired women as casuals, especially in feeding and packaging.</li>
            </ul>
        </div>
    </div>
 </div>
 