li,p{
    text-align: justify;
}

li{
    margin: 0 0 15px 0;
}

.card{
    background-color: rgba(0, 0, 0, 0.256)
}

h4{
    text-align: center;
    color: white;
    font-weight: 450;
    letter-spacing: 2px;
}